---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
    const articles = await getCollection("articles");
    return articles.map((article: CollectionEntry<"articles">) => ({
        params: {slug: article.slug},
        props: {article},
    }));
}


const {article} = Astro.props as {article: CollectionEntry<"articles">;};
const { Content } = await article.render();
---
<Layout>
    <article class="prose prose-neutral prose-lg leading-6 text-justify mx-auto">
        <h1>{article.data.title}</h1>
        <Content />
    </article>
</Layout>