---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <h1 class="text-2xl">Artigos</h1>
        <article class="mt-4">
            <a href="" class="border border-black p-1">Título teste</a>
        </article>
    </section>
</Layout>