---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
---

<Layout>
    <section>
        <h1 class="text-2xl">Artigos</h1>
        <ul class="mt-4 space-y-2">
            {
                articles.map((article) => {
                    const formattedDate = new Date(article.data.date).toLocaleDateString("pt-BR", {
                        day: "2-digit",
                        month: "2-digit",
                        year: "numeric",
                    });
                    return (
                        <li>
                            <a
                                href={`/articles/${article.slug}`}
                                class="border border-black p-3 flex flex-col sm:flex-row sm:justify-between gap-1"
                            >
                                <div>
                                    {article.data.title}
                                </div>
                                <div class="text-sm">
                                    {formattedDate}
                                </div>
                            </a>
                        </li>
                    );
                })
            }
        </ul>
    </section>
</Layout>
