---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout>
    <section>
        <h1 class="text-2xl">Projetos</h1>
        <ul class="mt-4 space-y-4">
            {
                projects.map((project) =>(
                    <li>
                        <a href={`/projects/${project.slug}`}
                        class="border border-black p-3 block">
                            <div class="font-medium">
                                {project.data.title}
                            </div>
                            <div class="text-sm">
                                {project.data.description}
                            </div>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>