---

---
<footer class="mt-16 pt-8">
    <ul class="flex flex-wrap gap-6">
        <li>
            <a 
                href="#" 
                class="inline-flex items-center gap-2 text-gray-900 transition-colors"
            >
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    height="20px" 
                    viewBox="0 -960 960 960" 
                    width="20px" 
                    fill="currentColor"
                >
                    <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"/>
                </svg>
                github
            </a>
        </li>
        <li>
            <a 
                href="#" 
                class="inline-flex items-center gap-2 text-gray-900 transition-colors"
            >
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    height="20px" 
                    viewBox="0 -960 960 960" 
                    width="20px" 
                    fill="currentColor"
                >
                    <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"/>
                </svg>
                linkedin
            </a>
        </li>
        <li>
            <a 
                href="#" 
                class="inline-flex items-center gap-2 text-gray-900 transition-colors"
            >
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    height="20px" 
                    viewBox="0 -960 960 960" 
                    width="20px" 
                    fill="currentColor"
                >
                    <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"/>
                </svg>
                source
            </a>
        </li>
    </ul>
    <p class="mt-6 text-sm text-gray-900">© MIT License</p>
</footer>