<main class="flex flex-col gap-2 text-base/tight max-sm:text-sm max-md:text-normal justify text-justify">
    <p >Yo! Me chamo Luís, sou graduado em engenheria de software pela UNESA e atualmente atuo como estagiário de Pesquisa e Desenvolvimento na Trends Automation.</p>
    <p>Entusiasta de estatística, machine learning, LLMs, automação e desenvolvimento de softwares em geral.</p>
    <p>Links úteis abaixo</p>
    <div>
        <ul class="flex gap-4 items-center">
            <li><a href="" class="border p-1">LinkedIn</a></li>
            <li><a href="" class="border p-1">GitHub</a></li>
            <li><a href="" class="border p-1">Contato</a></li>
        </ul>
    </div>
</main>