<main class="flex flex-col space-y-4 text-base leading-relaxed max-w-[60ch] md:text-justify">
    <p >Yo! Me chamo Luís, sou graduado em engenheria de software pela UNESA e atualmente atuo como estagiário de Pesquisa e Desenvolvimento na Trends Automation.</p>
    <p>Entusiasta de estatística, machine learning, LLMs, automação e desenvolvimento de softwares em geral.</p>
    <p>Links úteis abaixo</p>
    <div class="mt-2">
        <ul class="flex gap-4 items-center">
            <li><a href="" class="border px-2 py-1 focus:outline-none focus:ring-1">LinkedIn</a></li>
            <li><a href="" class="border px-2 py-1 focus:outline-none focus:ring-1">GitHub</a></li>
            <li><a href="" class="border px-2 py-1 focus:outline-none focus:ring-1">Contato</a></li>
        </ul>
    </div>
</main>